__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
htmlcov/
*.egg-info/
.eggs/
*.egg
build/
dist/
wheels/
share/python-wheels/
lib/
lib64/
sdist/
var/
parts/
downloads/
node_modules/
*.log
*.spec
.vscode/
.idea/
.cache/
Thumbs.db
Desktop.ini
.DS_Store
